@charset "UTF-8";
/********** SUB2-common-S **********/
.visual{background-image: url(../img/sub02-visual.jpg);}
.sec{
  padding: 120px 0;
  border-bottom: 1px solid #ddd;
}
.sec-header{
  margin-bottom: 60px;}
.sec-header .sec-tit{
  margin-bottom: 25px;
  font-weight: 700; font-size: 40px; line-height: 42px;color: #333; 
}
.sec-header .sec-desc{font-weight: 300;font-size: 16px; line-height: 25px;color: #999;}
.menu-box{
  display: flex; justify-content: flex-start;
  flex-wrap: wrap;
  /* gap: 20px; */
  width: 100%;
}
.menu-box .menu-list{
  display: flex; 
  flex-direction: column;
  width: calc(100% / 4 );
  text-align: center;
  margin-bottom: 100px;
  padding: 0 20px;
  word-break: keep-all;
}
.menu-box .menu-list .list-img{
  width: 70%;
  margin:0 auto 20px auto;
}
.menu-box .menu-list:nth-child(5n){margin-left: 0;}
.menu-box .menu-list .list-txt{margin-bottom: 20px; color: #555;}
.menu-box .menu-list .list-txt em{
  display: block;
  font-weight: 600; font-size: 20px; color: #333;
}
.menu-box .menu-list .list-txt span{
  display: block;
  margin-bottom: 15px;
  font-weight: 300; font-size: 14px; color: #aaa;
}
.menu-box .menu-list .list-img img{
  object-fit: contain;
}
.menu-box .menu-detail{
  width: 100%; height: 400px;
  display: flex;
  justify-content: space-between;
  padding-right: 38px;
  position: relative;
}
.menu-box .menu-detail .detail-txt{
  display: flex;
  order: 1;
  flex-direction: column;
  width: 75%;
  padding-top: 20px;
  text-align: center;
  z-index: 1000;
}
.menu-box .menu-detail .detail-txt em{
  font-weight: 600; font-size: 20px; color: #333; 
}
.menu-box .menu-detail .detail-img{
  z-index: 1000;
} 
.menu-box .menu-detail::before{
  content: "";
  display: block;
  width: 100%; height: 400px;
  background-color: #f7f6f3;
  position: absolute; left: 0;top: 0;
}
/********** SUB2-common-E **********/

/********** SUB2-1 - S **********/
.italian-box .menu-list{margin-bottom: 0;}
/********** SUB2-1 - E **********/



@media screen and (max-width:1199px) {
/********** SUB1-common-S **********/
.sec{padding: 50px 0;}
.sec-header{margin-bottom: 40px;}
.sec-header .sec-tit{
  margin-bottom: 15px;
  font-size: 30px; line-height: 32px;
}
.sec-header .sec-desc{font-size: 14px; line-height: 23px;}
.menu-box .menu-list{

  width: calc(100% / 3 );
}
.menu-box .menu-list .list-img{ width: 100%;}
/********** SUB1-common-E **********/

}





@media screen and (max-width:767px){
/********** SUB1-common-S **********/
.sec{padding: 50px 0;}
.sec-header{margin-bottom: 40px;}
.sec-header .sec-tit{
  margin-bottom: 15px;
  font-size: 22px; line-height: 32px; text-align: center;
}
.sec-header .sec-desc{font-size: 14px; line-height: 23px;}
.menu-box .menu-list{ width: 100%;}
.menu-box .menu-list .list-img{
  width: 90%;
  margin:0 auto;
}
.menu-box .menu-list + .menu-list{margin-left: 0;}
.menu-box .menu-list:nth-child(5n){margin-left: 0;}
.menu-box .menu-list .list-txt{margin-bottom: 5px;}
.menu-box .menu-list .list-txt em{font-size: 18px;}
.menu-box .menu-list .list-txt span{font-size: 12px;}

/********** SUB1-common-E **********/
}